$nav-item-color: #000000;
$nav-item-color-hover: #000000;

$hero-section-color1: #ffffff;
$hero-section-color2: #ffffff;

$more-section-color1: #000000;
$more-section-color2: #ffffff;

$more-section-card-title-color: #000000;
$more-section-card-title-color: #000000;
$more-section-card-shadow-color: #000000;

$more-section-card-title-color: #000000;
$more-section-card-title-color: #000000;
$more-section-card-shadow-color: #000000;

