.Main{
    align-self: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: nowrap column;
    align-content: space-around;
    align-items: center;
    justify-content: start;
    h1{
        text-align: center;
    }
}