.Card{
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;

    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 40px;
    &_mr{
        margin-right: 15px;//I don't use this probably should somewhere
    }
    p{
        text-align: center;
    }
}
.Card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media only screen and ( min-width: 576px ){
    .Card{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: stretch;
        figure{
            align-self: flex-start;

        }
        p{
            align-self: flex-end;
        }
    }
}